{% extends "base.html" %}
{% block content %}
  <h1>Cast Your Vote</h1>

  {% if user.has_voted %}
    <p>You've already voted. Thanks for participating!</p>
  {% else %}
    <form method="post">
      {% for option in options %}
        <div class="option">
          <label>
            <input type="radio" name="option_id" value="{{ option.id }}" required>
            {{ option.name }}
          </label>
        </div>
      {% endfor %}
      <button type="submit">Submit Vote</button>
    </form>
  {% endif %}
{% endblock %}
